body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #132C33;
}

header {
    background: #132C33;
    text-align: center;
    padding-top: 35px;
}

.header-description {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: #fff;
}

.header-picture-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px; 
    background-image: url(img/question.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -25px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

.faq-title {
    font-size: 2.5em;
    position: relative;
    top: -10px;
}

.header-description-text h1 {
    margin: 0;
    padding-bottom: 1em;
    font-weight: 400;
}

/* Buttons styles start */
.accordion-button {
    display: inline-block;
    border: none;
    width: 100%;
    padding: 0 1.5em;
    margin: 0;
    text-decoration: none;
    background: #132C33;
    color: #D8E3E7;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: left;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-item-1 {
    padding: .7em 0;
}

.accordion-button:hover {
    background: #D8E3E7;
    color: #132C33;
}

/* Button styles end */

/* Accordion */

.accordion-item {
    margin-bottom: .1em;
}

.arrow {
    color: #D8E3E7;
    cursor: pointer;
    font-size: 36px;
}

.accordion-body {
    padding: 1em 1.5em;
}

.accordion-body a {
    text-decoration: none;
    color: #51C4D3;
}

/* Accorddion end */

/* Accordion Animation */

.accordion-button.open {
    background: #D8E3E7;
    color: #132C33;
}

.accordion-button.open>.arrow {
    color: #132C33;
}

.accordion-collapse {
    transition: height 500ms ease;
}

.accordion-collapse.collapse {
    display: none;
}

.accordion-collapse.open {
    display: block;
}

.accordion-collapse.collapsing {
    height: 0;
    overflow: hidden;
    transition: height 500ms ease;
}

.arrow.arrow-up {
    transform: rotate(180deg);
    color: #132C33;
}

/* Accordion Animation end */

footer {
    background: #132C33;
    color: #D8E3E7;
    margin-top: auto;
    text-align: center;
    font-size: 10px;
    padding: 1em 0;
    line-height: 1.5;
}

footer hr {
    overflow: visible; 
    padding: 0;
    border: none;
    border-top: solid 1px #D8E3E7;
    color: #D8E3E7;
    text-align: center;
    line-height: 1;
}

footer hr::after {
    content: "FAQ";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #132C33;
}

footer p {
    margin-top: 0;
}

footer a {
    color: #FFF177;
    text-decoration: none;
    padding: 1rem 0;
}

footer img {
    width: 30px;
    height: 30px;
    margin: .5em 0 1.5em 0;
}

/* Desktop version */

@media only screen and (min-width: 576px) {

    .header-picture-circle {
        width: 300px;
        height: 300px;
    }
    .accordion-wrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .header-description-text {
        padding: 0 7em;
    }

}

@media only screen and (min-width: 768px) {
    header {
        background: #D8E3E7;
    }
    .header-description {
        display: flex;
        background: transparent;
    }
    .picture-desktop-container,
    .header-description-text {
        text-align: left;
    }
    .picture-desktop-container {
        flex-basis: 60%;
    }
    .header-picture-circle {
        width: 400px;
        height: 400px; 
    }
    .header-description-text {
        padding-top: 4.5em;
        flex-basis: 40%;
    }
    .faq-title {
        font-size: 3.5em;
        font-weight: 500;
        margin-bottom: .3em;
        background: #FFF177;
        margin-left: -100%;
        padding-left: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .faq-yellow {
        padding-right: 1em;
    }
    .faq-transparent {
        flex-basis: 80%;
        background: #D8E3E7;
    }
    .header-description-text h1 {
        padding-right: 0;
        font-size: 2em;
    }
    .accordion-wrapper {
        margin: 3.5em auto;
    }
    .accordion-item {
        margin-bottom: .5em;
    }
    .accordion-button {
        font-size: 1.5rem;
    }
    .arrow {
        font-size: 48px;
    }
    .accordion-body {
        font-size: 1.2rem;
    }
    footer {
        text-align: left;
        padding: 1rem 3rem;
    }
    footer hr {
        overflow: visible; 
        padding: 0;
        border: none;
        border-top: solid 1px #D8E3E7;
        color: #D8E3E7;
        text-align: left;
    }
    footer hr::after {
        padding-right: 0.25em;
        padding-left: 0;
    }
}

@media only screen and (min-width: 992px) {
    
    .picture-desktop-container,
    .header-description-text {
        flex-basis: 50%;
        text-align: left;
    }
    .header-description-text h1 {
        padding-right: 30%;
    }
    .accordion-wrapper {
        width: 70%;
    }

}